<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>

    <main>
        <%if(orders.length <= 0){%>
            <h1>No orders available</h1>
        <%}else{%>
            <%orders.forEach(order =>{ %>
                <ul>
                    <li>
                        <h1><%= order._id%></h1>
                        <ul>
                            <% order.items.forEach(product=>{%>
                            <li><%= product.tittle%> (<%= product.qty%>)</li>
                            <%})%>
                        </ul>
                   </li>
                </ul>
            <%})%>
        <%}%>
    </main>
<%- include('../includes/end.ejs')%>